.button {
  text-transform: uppercase;
  background-color: hsl(97, 53%, 47%);
  width: 280px;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  padding: 7px 44px;
}

.button:hover {
  background-color: hsl(97, 57%, 43%);
}

.button:active {
  opacity: 0.8;
}
