.info__wrapper {
  padding: 20px;
}

.info__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}

.info__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}

.info__item {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 26px;
}

.info__item:last-child {
  margin-bottom: 0;
}
