.catalog__header {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 27px;
  padding-bottom: 41px;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-left: 20px;
}

@media (min-width: @tablet-width) {
  .catalog__header {
    border: none;
    padding: 0;
    margin-top: 64px;
    margin-left: 30px;
  }

  .catalog__title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog__header {
    margin-top: 74px;
    margin-left: 110px;
  }
}

